<div class="w-full max-w-xs">
  <form class="bg-gray-600 shadow-md rounded px-8 pt-6 pb-8 mb-4">
    <div class="mb-4">
      <label class="block text-white text-sm font-bold mb-2" for="cpf">
        Validar CPF
      </label>
      <input
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        id="cpf" type="text" placeholder="Ex: 000.000.000-00">
    </div>
    <div class="flex items-center justify-between">
      <button
        class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline w-full"
        type="button" id="click" type="submit">
        Verificar
      </button>
    </div>
  </form>
  <p class="text-center text-gray-500 text-xs">
    &copy;2020, Não samos responsáveis por vazamento :)
  </p>
</div>

<script>
  document.getElementById("click").addEventListener("click", () => {
    var valor = document.getElementById("cpf").value
    var cpf = valor.trim().replace(/[^\d]/g, "");
    var arrayCbf = Array.from(cpf, (x) => parseInt(x))

    let base = cpf.slice(0, 9);
    if (cpf.length != 11) {
      Swal.fire({
        icon: 'error',
        title: 'Ops',
        text: `Esse CPF é inválido!`
      })
      return 0;
    }
    function PrimeiroValor(arrayCbf) {
      let sum = 0
      for (let i = 0; i < 9; i++) {
        sum += arrayCbf[i] * (10 - i)
      }
      const resto = sum % 11
      let digite1 = resto < 2 ? 0 : 11 - resto;
      base += digite1
    }
    function SegundoValor(arrayCbf) {
      let sum = 0
      for (let i = 0; i < 10; i++) {
        sum += base[i] * (11 - i)
      }
      const resto = sum % 11
      let digite2 = resto < 2 ? 0 : 11 - resto;
      base += digite2
    }
    const teste = PrimeiroValor(arrayCbf)
    const teste1 = SegundoValor(arrayCbf)
    let cpfFormating = cpf.replace(/(\d{3})(\d{3})(\d{3})(\d{2})/, "$1.$2.$3-$4")
    if (base == cpf) {
      confetti({
        particleCount: 100,
        spread: 70,
        origin: { y: 0.6 },
      });
      Swal.fire({
        icon: 'success',
        title: 'Sucesso!',
        text: `Esse CPF: ${cpfFormating} é válido`
      })
    } else {
      Swal.fire({
        icon: 'error',
        title: 'Ops',
        text: `Esse CPF: ${cpfFormating} é inválido`
      })
    }
  })
</script>