<div class="w-full max-w-xs">
  <form class="bg-gray-600 shadow-md rounded px-8 pt-6 pb-8 mb-4">
    <div class="mb-4">
      <label class="block text-white text-sm font-bold mb-2" for="cpf">
        Validar CPF
      </label>
      <input
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        id="cpf" type="text" placeholder="Ex: 000.000.000-00">
    </div>
    <div class="flex items-center justify-between">
      <button
        class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline w-full"
        type="button" id="click" type="submit">
        Verificar
      </button>
    </div>
  </form>
  <p class="text-center text-gray-500 text-xs">
    &copy;2020, Não samos responsáveis por vazamento :)
  </p>
</div>